body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.left-panel {
  margin-right: 30px;
}

canvas {
  border: 2px solid black;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-panel p {
  font-size: 1.2em;
  margin: 10px 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.right-panel p span {
  font-weight: bold;
}
